{% extends 'base.html' %}

{% block content %}
    <h1>Asset type enrichment</h1>
    <p style="font-family: 'Times New Roman';font-size: medium">
        It is necessary to report the information associated with the type of asset,
        where this has not been explicitly indicated in the bpmn associated with the process in question.
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Asset names</th>
            <th>Asset types</th>
        </tr>
        </thead>
        <tbody>
        {% for task in task_list %}
            <tr>
                <td style="font-family: 'Times New Roman';font-size: larger">
                    {{ task.name }}
                </td>
                <td style="font-family: 'Times New Roman';font-size: larger">
                    <form method="POST" action="{% url 'task_type_enrichment' task.process.pk %}">
                        {% csrf_token %}
                        {% if task.asset_type != None %}
                            {{ task.asset_type }}
                        {% else %}
                            <select name="{{ task.pk }}" class="form-control">
                                {% for type in asset_type %}
                                    <option value="{{ type.pk }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Save task type"/>
    </form>
{% endblock %}