{% extends 'base.html' %}

{% block content %}

    <style>
    #back{
        position: absolute;
        left: 80%;
        top: 10%;
    }
    </style>

    <div class="starter-template" style="margin-top: -6%;"> </div>
        <h1>Threat model</h1>

        <table class="table">
        <thead>
        <br>
        </thead>
        <tbody>

        <form method="POST" action="{% url 'export_threat_modeling' appId=appId  %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Export Threat Modeling</button>
        </form>

            {% for threat in threats %}
                <tr>
                    <td style="font-family: 'Times New Roman';font-size: larger">
                    <b>Compromised Asset</b> :   {{ threat.3 }}
                    <br>
                    <b>Name</b> :   {{ threat.0.name }}
                    <br>
                    <b>Description</b> : {{ threat.0.description }}
                    <br>
                    <b>Source</b> : {{ threat.0.source }}
                    <br>
                    <b>Stride</b> :{% for stride in threat.1 %} {{ stride }}{% if not forloop.last %},{% endif %}{% endfor %}
                    <br>
                    <b>Compromised Security Requirement</b> : {% for requirement in threat.2 %} {{ requirement }}{% if not forloop.last %},{% endif %}{% endfor %}
                    <br>
                </tr>
            {% endfor %}
        </tbody>
    </table>
                  {% if not threats %}
                  <b>Threats not found!</b>
              {% endif %}


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}